@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }

#header{
    position: sticky;
}

#header > .container{
    width: 100vw;
    max-height: 120px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 20px;
}


#header-img{
    width: 300px;
    height: auto;

    
}

.header-logo{
    display: inline-block;
    width: 300px;
    height: auto;
}

li{
    display: inline-block;

}

.nav-link{
    text-decoration: none;
    color: #000;
}

li{
    margin-left: 8vw;
}

#nav-bar{
    padding-right: 8vw;
}

#nav-bar > ul{
    height: 100%;

    display: flex;
    align-items: center;
}

li{
    text-align: center;
}
@media (max-width: 923px){
    #header > .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #nav-bar{
        padding-right: 2vw;
    }
}

@media (max-width: 373px){
    #nav-bar{
      padding-right: 0;
      width: 100vw;
    }
    #nav-bar > ul{
        display: flex;
        flex-direction: column;
    }
    li{
        text-align: center;

        margin: 2px;

        font-size: 1.12rem;
    }
}

body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

body > .container{
    width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ol > li{
    margin: 0;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;

  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 15px;
  }

  #hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  
  #hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  #hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }
  
  #hero input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
  }

  #features {
    margin-top: 30px;
  }
  
  #features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
  
  @media (max-width: 550px) {
    #features .icon {
      display: none;
    }
  }
  
  #features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  
  @media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
  }
  
  #how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  #how-it-works > iframe {
    max-width: 560px;
    width: 100%;
  }
  
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  
  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }

  .grid {
    display: flex;
  }